#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #588b3e;
}

#main .nav-pills > li > a:hover {
  background-color: #588b3e;
}



#sidebar {
  background: #d3d3d3;
}



#postamble {
  background:#588b3e;
  border-top:solid 10px #d3d3d3;
}

.title {
  text-align: center;
  color: #588b3e;
}

.subtitle {
  color: #588b3e;
}

h1, h2, h3, h4, h5, h6, legend {
  color: #588b3e;
}


